body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbotron {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#canvas {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

#INputCollecter {
    display: block;
    justify-content: center;
    margin-bottom: 20px;
}

.InputClass{
    margin: 5px 0px 0px 0px;
    padding: 10px;
}

.InputForJson {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#RemoveRow {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#RemoveRow:hover {
    background-color: #cc0000;
}

input[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

button.mybut {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

button.mybut:hover {
    background-color: #218838;
}

